
.stick {
    width: 30px;
    height: 200px;
    background-color: black;
    margin-left: 49%;
    text-align: center;
}
.ligthContainer {
    background-color: black;
    width: 150px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    text-align: center;
    padding-top: 30px;
    padding-left: 25px;
}

.light {
    border: 1px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.red {background-color: red;}
.yellow {background-color: yellow;}
.green {background-color: green;}

.glow{
    box-shadow: 0px 0px 9px 4px #fefeff
}

.changeColor{
    background-color: cornflowerblue;
    text-decoration-color: black;
    border-radius: 5px;
    margin-left: 900px;
}