
.stick {
    width: 30px;
    height: 200px;
    background-color: black;
    margin-left: 495px;
    display: inline-block;
}

.lightAndButtons{
    display: flex;
    margin-top: -10px;
}

.ligthContainer {
    background-color: black;
    width: 160px;
    height: 400px;
    border-radius: 20px;
    display: block;
    flex-direction: column;
    margin-left: 430px;
    text-align: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.light {
    border: 1px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    padding-right: 20px;
}

.red {background-color: red;}
.yellow {background-color: yellow;}
.green {background-color: green;}

.glow{
    box-shadow: 0px 0px 9px 4px #fefeff
}


.changeColor {
    margin-left: 200px;
    margin-top: 130px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.changeColor:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.changeColor:active {
    transform: scale(0.95);
}

.addPurple {
    margin-left: 200px;
    margin-top: 30px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #9d55f5;
    background-image: linear-gradient(45deg, #6508b0 0%, #9d55f5  51%, #6508b0  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.addPurple:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.addPurple:active {
    transform: scale(0.95);
}